
@using System.Threading





<div class="row w-100 text-center" style="font-size: .8em">
    @current.ToString("dddd, dd MMMM yyyy")
</div>
<div class="row w-100 text-center" style="font-size: 1.8em">
    @current.ToString("h:mm:ss tt")
</div>









@code {

    private DateTime current { get; set; } = DateTime.Now.AddHours(5.5);

    protected override async Task OnInitializedAsync()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            current = DateTime.Now.AddHours(5.5);
            this.StateHasChanged();
        }), DateTime.Now, 1000, 1000);

        await base.OnInitializedAsync();
    }
}
