


@using System.Threading
@using Models



<style>
    label {
        font-size: 1.2em;
        font-weight: bold;
    }

    select {
        width: auto;
        border-radius: .2em;
        background-color: rgb(var(--code-light));
        color: rgb(var(--code-primary));
        padding: 10px 20px;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
    }

        select::-ms-expand {
            display: none;
        }

        select:hover, select:focus {
            outline: none;
        }

        select:hover {
            box-shadow: 0 0 .2em .1em currentcolor;
        }

        select:focus {
            box-shadow: inset 0 0 .2em .1em currentcolor;
        }

    .select-icon {
        position: absolute;
        right: 10px;
        pointer-events: none;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

        .select-icon svg.icon {
            fill: rgb(var(--code-primary));
        }
/*
    select:focus ~ .select-icon svg.icon {
        display: none;
    }*/
</style>

<div class="w-100 d-flex flex-column my-auto mx-3">
    <div class="d-flex">
        <div class="d-flex position-relative flex-grow-1">
            @if (Data.Displayed == null)
            {<select class="my-auto flex-grow-1" disabled><option></option></select> }
            else
            {
                @if (Data.Displayed.Count > 0)
                {
                    <select id="ddlSelectCatagory" class="my-auto flex-grow-1" @onchange="SelectedValueChanged">
                        @for (int i = 0; i < Data.Displayed.Count; i++)
                        {
                            TodoBlazorApp.Models.TodoCatagoryModel catagory = Data.Displayed[i];
                            <option value="@catagory.Name">@catagory.Name</option>
                        }
                    </select>
                }
                else
                { <select class="my-auto flex-grow-1" disabled><option></option></select>}
            }
            <div class="select-icon">
                <svg width="2.1em" height="3.8em" class="icon" viewBox="0 0 512 480">
                    <path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424   C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428   s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z" />
                </svg>
            </div>
        </div>
    </div>
</div>



@code {

    [Parameter] public EventCallback UpdateTodoList { get; set; }

    [Parameter] public EventCallback<ChangeEventArgs> SelectedValueChanged { get; set; }
}
