
@using System.Threading
@using Models


@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStore




<div class="container-fluid p-1" @onkeypress="CheckKeyPress">

    <div class="col-12 justify-content-center bg-dark text-white py-2 px-3" style="position:absolute; top:0; left:0;right:0; z-index:11;">
        <DateTimeComponant />
    </div>

    <div class="row mt-4">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
            <div class="row" style="background-color: rgb(var(--code-primary)); position:sticky; position:-webkit-sticky; z-index:11; top:0">
                <div class="col-12">
                    @if (!ShowCatagory)
                    {
                        <div class="row w-100 px-2 mx-auto justify-content-between">
                            <div class="mt-auto" style="flex-wrap:nowrap;">Select Catagory</div>
                            <button class="btn btn-outline-light mb-auto" @onclick="(() => { ShowCatagory = true; })">Add New Catagory</button>
                        </div>
                    }
                    @if (ShowCatagory)
                    {
                        <div class="row p-1 my-2 position-relative" style="box-shadow: 1px 2px 3px 1px currentcolor, inset 1px 2px 3px 1px currentcolor">
                            <AddCatagory ShowCatagory="(e => { ShowCatagory = e; })" UpdateTodoList="UpdateTodoList" />
                        </div>
                    }
                    else
                    {
                        <div class="row my-1">
                            <SelectCatagory UpdateTodoList="UpdateTodoList" SelectedValueChanged="SelectedValueChanged" />
                        </div>
                    }
                </div>
                @if (!ShowCatagory)
                {
                    <div class="col-12 todo-input-container bg-white">
                        <input type="text" name="txtTodo" @bind="@Text" @bind:event="oninput" placeholder="Todo" class="w-100 todo-input" />
                    </div>
                    <div class="col-12 text-white text-right" style="font-size:10px">Press Enter to add Todo.</div>
                }
            </div>

            <div class="row py-1 px-2"><TodoCatagory UpdateTodoList="UpdateTodoList" /></div>

        </div>
    </div>

</div>



@code {

    //TodoClass todo { get; set; } = new TodoClass();

    string CatagoryName { get; set; } = "";

    string Text { get; set; } = "";

    bool ShowCatagory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await PopulateLocalStorage();

        await UpdateTodoList();
    }

    void SetDefaultCatagory()
    {
        if (CatagoryName == "" && Data.Displayed.Count > 0)
            CatagoryName = Data.Displayed[0].Name;
    }

    async Task PopulateLocalStorage()
    {
        if (await localStore.ContainKeyAsync("displayed"))
        {
            Data.Displayed = await localStore.GetItemAsync<List<TodoCatagoryModel>>("displayed");
        }

        if (await localStore.ContainKeyAsync("stored"))
        {
            Data.Stored = await localStore.GetItemAsync<List<TodoCatagoryModel>>("stored");
        }
    }

    async Task AddTodo()
    {
        if (Text != "" && CatagoryName != "")
        {
            Data.Displayed
                .Find(x => x.Name == CatagoryName)
                .Todos.Add(new TodoClass()
                {
                    Text = Text,
                    TimeAdded = DateTime.Now.AddHours(5.5)
                });

            await UpdateTodoList();

            Text = "";

            SetDefaultCatagory();
        }
    }

    async Task CheckKeyPress(KeyboardEventArgs args)
    {
        switch (args.Key)
        {
            case "Enter":
                await AddTodo();
                break;

            default:
                return;
        }
    }

    void ShowAddCatagory()
    {
        ShowCatagory = true;
    }

    async Task UpdateTodoList()
    {
        //this.StateHasChanged();

        SetDefaultCatagory();

        await localStore.SetItemAsync("displayed", Data.Displayed);

        await localStore.SetItemAsync("stored", Data.Stored);
    }

    void SelectedValueChanged(ChangeEventArgs e)
    {
        CatagoryName = e.Value.ToString();
    }

}














@*<label class="my-auto">Set Priority:</label>
    <label class="d-flex mx-2 my-auto" style="cursor:pointer">
        <input type="radio" name="chkBxPriority" class="my-auto" style="cursor: pointer; width: 1.2em; height: 1.2em;" value="High" @onchange="(e => { Priority = e.Value.ToString(); })" />
        <div class="ml-2 my-auto">High</div>
    </label>
    <label class="d-flex mx-2 my-auto" style="cursor:pointer">
        <input type="radio" name="chkBxPriority" class="my-auto" checked style="cursor: pointer; width: 1.2em; height: 1.2em;" value="Medium" @onchange="(e => { Priority = e.Value.ToString(); })" />
        <div class="ml-2 my-auto">Medium</div>
    </label>
    <label class="d-flex mx-2 my-auto" style="cursor:pointer">
        <input type="radio" name="chkBxPriority" class="my-auto" style="cursor: pointer; width: 1.2em; height: 1.2em;" value="Low" @onchange="(e => { Priority = e.Value.ToString(); })" />
        <div class="ml-2 my-auto">Low</div>
    </label>*@


@*<div class="input-group todo-input-container">
        <input type="text" name="txtTodo" @bind="todo.Text" @oninput="(e=> { todo.Text = e.Value.ToString(); })" @onkeydown="CheckKeyPress" placeholder="Todo" class="todo-input w-100" />
        <div class="input-group-append">
            <button class="btn btn-outline-primary">Add</button>
        </div>
    </div>*@





@*<div class="row pb-3">
        <div class="col-12 p-4 mt-5 priority-container">
            <h4 class="mx-auto">High Priority</h4>
            @if (todos.Count > 0)
            {
                <div class="col-12">
                    @foreach (TodoClass thisTodo in todos)
                    {
                        if (thisTodo.Catagory == "High")
                        {<TodoComponent self="@thisTodo" />}
                    }
                </div>
            }
        </div>
        <div class="col-12 p-4 my-4 priority-container">
            <h4 class="mx-auto">Medium Priority</h4>
            @if (todos.Count > 0)
            {
                <div class="col-12">
                    @foreach (TodoClass thisTodo in todos)
                    {
                        if (thisTodo.Catagory == "Medium")
                        {<TodoComponent self="@thisTodo" />}
                    }
                </div>
            }
        </div>
        <div class="col-12 p-4 priority-container">
            <h4 class="mx-auto">Low Priority</h4>
            @if (todos.Count > 0)
            {
                <div class="col-12">
                    @foreach (TodoClass thisTodo in todos)
                    {
                        if (thisTodo.Catagory == "Low")
                        {<TodoComponent self="@thisTodo" />}
                    }
                </div>
            }
        </div>
    </div>*@
