@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="main">
    <div class="d-flex justify-content-center mt-5">
        <div class="h1 font-weight-bold">Todo</div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


